<?xml version="1.0" encoding="utf-8"?>
<SnippetsSet id="shControlSnippets" xmlns="http://www.br-automation.com/iat2015/snippet/engineering/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Snippets>
		<Snippet id="ManeuverType" xsi:type="session" type="IndexText" formatItem="IAT/ShControl/ManeuverType.{1}" />
		<Snippet id="ReasonType" xsi:type="session" type="IndexText" formatItem="IAT/ShControl/ReasonType.{1}" />
		<Snippet id="SectorType" xsi:type="session" type="IndexText" formatItem="IAT/ShControl/SectorType.{1}" />
		<Snippet id="OrientationType" xsi:type="session" type="IndexText" formatItem="IAT/ShControl/Orientation.{1}" />
  </Snippets>
</SnippetsSet>
